/.RData
/.RDataTmp
/.Rhistory
/.Rhistory (1)
/.Rproj.user
/a
/a.html
/a_files
/c.html
/c_files
/d.html
/d_files
/R.Rproj
/scrapedpage.html
/tabla.csv
/tenis - copia.xlsx
/tenis con mas meses.xlsx
/tenis.xlsx
/tenis1.xlsx
/tenis10.csv
/tenis1b.xlsx
/tenisprueba.xlsx